<%- include("../includes/head.ejs")%>
<link rel="stylesheet" href="/css/product.css">
</head>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    const images = document.querySelectorAll('img');
    console.log({images})
    images.forEach(img => {
        const imageUrl = img.getAttribute('src');
        console.log(imageUrl);
        fetch(imageUrl)
            .then(response => response.blob())
            .then(blob => {
                const reader = new FileReader();
                reader.onloadend = function() {
                    img.src = reader.result;
                }
                reader.readAsDataURL(blob);
            })
            .catch(error => console.error('Error loading the image:', error));
    });
    const products = document.querySelectorAll('.product-item');

    products.forEach(product => {
        product.classList.toggle("expanded");
        showComputedStyle(product);
    })
});

function showComputedStyle(element) {
    const computedStyle = getComputedStyle(element);
    console.log(`Background color of clicked product is ${computedStyle.backgroundColor}`);
   
}


    </script>
<body>
    <%- include("../includes/navigation.ejs")%>
    <div class="feat-product__wrapper">
        <div class="featured-product">
            <div class="featured-product__details">

                <h1>Cele mai bune imagini</h1>
            </div>

        </div>
    </div>
    <main>
        <% if(prods.length > 0){ %>
        <h1 class="centered">Popular</h1>
        <div class="grid">
            <% for(let product of prods){ %>
            <article class="card product-item">
                <!-- <header class="card__header">
                    <h1 class="product__title"><%= product.title %></h1>
                </header> -->

                <a href="/products/<%= product._id %>" class="test__link"> <span></span> </a>


                <div class="card__image"><img src="<%= product.imageUrl %>" alt="<%= product.title %>" /></div>

                <div class="card__content">
                    <p class="product__title"><%= product.title %></p>
                    <h3 class="product__price">$ <%= product.price %></h3>
                </div>
                <div class="card__actions">
                    <a href="/products/<%= product._id %>" class="btn">Details</a>
                    <% if(isAuthenticated) { %>
                    <%-include("../includes/add-to-cart.ejs",{product:product})%>
                    <% } %>
                </div>
            </article>
            <% }; %>
        </div>
        <%-include("../includes/pagination.ejs",{currentPage,nextPage,previousPage,lastPage,hasNextPage,hasPreviousPage})%>
        <% }else{ %>
        <h1>No Products</h1>
        <% } %>
    </main>
    <%- include("../includes/end.ejs")%>